.navbar-toggle {
  border: none;
  background: transparent !important; }
  .navbar-toggle:hover {
    background: transparent !important; }
  .navbar-toggle .icon-bar {
    width: 20px;
    transition: all 0.2s; }
  .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar-toggle .middle-bar {
    opacity: 0; }
  .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0); }

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

ul.slides > li {
	background: #ffffff;
}
.flexslider {
	box-shadow: none;
}

.slide-img {
	width: 75% !important;
}

html { font-size: 1em; }

html, body { height: 100%; }

body { font-family: "Lato"; overflow-x: hidden; background-color: #ffffff; }

h1, h2, p { font-family: "Lato", sans-serif; }

h1 { font-weight: 600; }

h2 { font-size: 1.5em; }

ul { margin: 0; }


.back {
	padding: 20px;
}

section { padding-top: 85px; margin-top: -50px; }
section .outer_container { padding-top: 85px; margin-bottom: 50px; background-color: #ffffff;  }
section .row { margin-left: 0; margin-right: 0; overflow: hidden; }
section h1 { text-transform: uppercase; color: white; margin-top: 0px; margin-bottom: 0px; line-height: 280px; text-align: center; }

.templatemo_ceo img { margin-bottom: 10px; }
.templatemo_ceo p { text-align: center; }

.container { margin: 0 auto; }

/*http://css-tricks.com/vertically-center-multi-lined-text/*/
.center-row { display: table; }
.center-row .center { display: table-cell; vertical-align: middle; }

/*------------------------------------------------------
	NAVIGATION
--------------------------------------------------------*/
nav { font-size: 1.2em; font-weight: lighter; }
nav .fa { display: block; text-align: center; margin-bottom: 13px; }

.navbar {
	background: #135092;
	min-height: 100px;
	border-radius: 0px;
	border: none;
	margin-bottom: 0px;
	-webkit-box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15);
	-moz-box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15);
	box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.navbar-brand img {
	height: 70px;
}
.navbar-nav {
	min-height: 100px;
}
.navbar-nav li a {
	-moz-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	-webkit-transition: background-color .5s ease;
	transition: background-color .5s ease;
	min-height: 100px;
	height: 100px;
}
.navbar-default .navbar-nav>li>a {
	-moz-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	-webkit-transition: background-color .5s ease;
	transition: background-color .5s ease;
	height: 100%;
	padding-bottom: 20px;
	color: white;
	text-transform: uppercase;
    outline: none;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .menu ul li a.current {
	color: white;
	background-color: #ee3a43;
    outline: none;

}

.navbar>.container .navbar-brand { margin-left: 0;}
.navbar-collapse .navbar-nav.navbar-right:last-child { margin-right: 0; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #ffffff; }
/*.navbar-collapse:first-child { margin-top: 40px; }*/
/*------------------------------------------------------
	FLEXSLIDER OVERRIDING
--------------------------------------------------------*/

.flexslider { padding-top: 85px; background-color: #ffffff;}
.flexslider a:hover, .flexslider a:focus { text-decoration: none; }
.flexslider { border: none;	-webkit-border-radius: 0; border-radius: 0; }
.flexslider .slides li { position: relative; }
.flex-caption {
    position:absolute;
    left:0px;
    right:0;
    bottom:0;
    color: white;
    background:rgba(133,182,236,.7);
    z-index:1;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 20px;
}
/*------------------------------------------------------
	Link Button Styles
--------------------------------------------------------*/
#linkz {align:vertically-center-multi-lined-text; }
/*------------------------------------------------------
	About Us Styles
--------------------------------------------------------*/
#about h1 { background-color: #498fc0; }
#about img { padding: 0; }
#about_content { height: 280px; }

#form h1 { background-color: #498fc0; }
#form img { padding: 0; }
#form_content { height: 280px; }

/*------------------------------------------------------
	Our Team Styles
--------------------------------------------------------*/
#team .col-md-4 { padding: 5px; }
#team img { margin: 0 auto; margin-bottom: 10px; }
#team h1 { height: 100%; background-color: #498fc0; }
#team p { text-align: center; }
#team_content { height: 280px; }

/*------------------------------------------------------
	Services Styles
--------------------------------------------------------*/
.services_buttons .icon-button:last-of-type { margin-bottom: 0; }
.services_buttons .icon-button {
	font-size: 250%;
	color: white;
	background-color: red;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 100%;
	height: 100%;
	max-width: 70px;
	max-height: 70px;
	line-height: 70px;
}

.services_buttons  .icon-button:hover, .services_buttons  .icon-button.active {	background-color: #498FC0; }

#services h1 { background-color: #498FC0; }
#services .col-md-2 { padding-right: 0; }
#services .fa { line-height: 90px; }
#services_content { height: 280px; }
#services_content .tab-pane {  padding: 15px; }
#services_content a { color: #FFFFFF; }
/* weird responsiveness issue here
.services_tabs li {
	height: 70px;
}
*/
/*http://cssarrowplease.com/*/
.arrow-box { position: relative; color: white; background-color: #498FC0; border-radius: 4px; margin-left: 30px; height: 100%;}

/*------------------------------------------------------
	Skills Styles
--------------------------------------------------------*/
.progress { background-color: black; border-radius: 0px; }
.progress.vertical:last-of-type { margin-right: 0; }
.progress-bar {	position:absolute; bottom:0; left:0; }
.progress-label { position:absolute; width: 100%; bottom:0; }

.progress.vertical {
    position: relative;
    width: 19%;
	margin-right: 1.2%;
    min-height: 240px;
    float: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

#skills h1, .progress-bar { background-color: #498FC0; }

/*------------------------------------------------------
	Portfolio Styles
--------------------------------------------------------*/
.portfolio-item:hover .overlay-p { transition: all 0.3s ease-in-out 0s; visibility: visible; opacity: 1; }
.portfolio-thumb .overlay-p {
 	background-color: rgba(0, 200, 200, 0.9);
 	position: absolute;
 	visibility: hidden;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	opacity: 0;
 }
.portfolio-thumb .overlay-p a { position: absolute; color: white; text-decoration: none; }

#portfolio .col-md-4 { max-width: 206px; }
#portfolio .row { margin: 0; }
#portfolio h1 { background-color: #498FC0; }
#portfolio h2 { color: white; padding: 8% 4% 4% 4%; margin: 0; }
#portfolio p { color: white; padding: 0 4% 4% 4%; margin: 0; font-size: .9em; }
#portfolio_content .col-md-4 { padding: 0; }

/*------------------------------------------------------
	Blog Styles
--------------------------------------------------------*/
.blog_post { position: relative; float: left; width: 50%; height: 280px; width: 300px; margin-right: 5px;}
.blog_posts_container { max-width: 620px; }
.blog_post h2 { position: absolute; background: #498FC0; color: white; top: 0; right: 0; padding: 10px 20px; margin: 0; text-align: center; }

#blog .col-md-7 { padding-right: 46px; overflow: hidden; }
#blog h1 { background-color: #498FC0; }
.front {
	background-color: #94DBFF;
}

/*------------------------------------------------------
	Contact Styles
--------------------------------------------------------*/
.form-group { margin-bottom: 20px; }
.form-control {	border-radius: 0px; }
.form-control:focus {
	border-color: rgb( 226, 90, 148 );
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(226, 90, 148,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(226, 90, 148,0.6);
}

#contact h1 { background-color: #498FC0; }
#contact_content { height: 280px; }

#map h1 { background-color: #498FC0; }

#google_map { width: 100%; height: 280px; outline: 0; border: 0; }
/*------------------------------------------------------
	FOOTER
--------------------------------------------------------*/
footer { background: #C5454A; min-height: 141px; color: white; margin-top: 20px; }
footer img { padding-top: 30px; }
footer a { text-decoration: none; color: white; }
footer a:hover { color: #cbcbcb; text-decoration: none; }
footer .row { height: 100%; }

.back_to_top { background-color: #c5454a; text-align: center; height: 41px; line-height: 41px; } /*http://stackoverflow.com/questions/2939914/vertically-align-text-in-a-div*/

.social_buttons a {	text-decoration: none; }

#templatemo_copyright { font-size: .9em; }

/*------------------------------------------------------
	BOOTSTRAP OVERRIDING
--------------------------------------------------------*/
.col-md-4, .col-md-5, .col-md-7, .col-md-8 { padding: 0; }

.btn-primary {
	font-size: 2em;
	padding-bottom: 10px;
  	background-color: #ee3a43;
  	box-shadow: 0px 3px 0px 0px rgb(133,182,236);
  	
  	height: 55px;
  	border: none; border-radius: 0px;
  	-moz-transition: background-color .5s ease;
  	-o-transition: background-color .5s ease;
  	-webkit-transition: background-color .5s ease;
  	transition: background-color .5s ease;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color: #ee3a43;
	/*box-shadow: 0px 3px 0px 0px rgb( 226, 90, 148 );*/
}

/*------------------------------------------------------
	MEDIA QUERIES
--------------------------------------------------------*/
@media only screen and (min-width: 600px){
	h1 { font-size: 4.5em; }
	.services_buttons { text-align: right; }
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .menu ul li a.current {
		height: 85px;
	}
	#about .col-md-7 { padding-left: 50px; }
	#about .col-md-8 { padding-left: 20px; }
	#team .col-md-7 { padding-right: 50px; }
	#skills .col-md-7 { padding-right: 90px; }
	#portfolio .col-md-7 { padding-left: 46px; }
	#contact .col-md-7 { padding-left: 50px; }	
}

@media only screen and (max-width: 599px) {
	
	body { font-size: 10px; }
	.btn-primary { font-size: 1.1em; }	
	.blog_post h2 { font-size: 1.1em; padding: 5px 5px; }
	.services_buttons .icon-button { font-size: 180%; }
	.navbar-default .navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
		height: 100%;
	}
	#services_tabs { padding-left: 0; }
	nav .fa { display: inline; text-align: left; margin-bottom: 0; margin-right: 10px; }    
	}
}
/* http://codepen.io/minimalmonkey/pen/Ecpla */

/* Wrapper */
.social_buttons .icon-button {
	background-color: #20283e;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	line-height: 100px;
	margin: 0;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 60px;
	height: 100px;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	line-height: 3.6rem;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}

.icon-button:hover .fa-twitter {
	/*color: #2AA9E0;*/
	color: #c5454a;
}
.icon-button:hover .fa-facebook {
	/*color: #576FAA;*/
	color: #c5454a;
}
.icon-button:hover .fa-youtube {
	color: #c5454a;
}

@media (max-width: 550px) {
    .big-container {
        display: none;
    }
}
@media (min-width: 550px) {
    .small-container {
        display: none;
    }
}
/* Responsive iFrame */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}