<!DOCTYPE html>
	 <!--




	 .,__,.........,__,.....╭¬¬¬¬¬━━╮
	 `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::|:^------^
	 `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::||｡◕‿‿◕｡|
	 -........--""-.......--"╰O━━━━O╯╰--O-O--╯


	 Website created by Devin Mui, Ian SooHoo, and Billy Zhong.




	 -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en">
  <![endif]-->
  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!-->
  <html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <title>Gael Force</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- seo stuff -->
    <meta name="description" content="Dublin High School websites" />
    <meta name="author" content="Devin Mui">

    <!-- styles and js -->
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="slider/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link href="css/style.css" rel="stylesheet" />

    <!-- favicon -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>

    <script src="slider/modernizr.js"></script>

</head>
<body>
  <!-- loading icon -->
  
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
            <a href="/index.html" class="navbar-brand"><!-- prob change to home link-->
              <img src="images/logo.png" alt="karma"/>
            </a>
          </div>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="navbar-collapse collapse menu">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="index.html#home"><i class="fa fa-home"></i>Home</a></li>
              <li><a href="index.html#about"><i class="fa fa-user"></i>About Us</a></li>
              <li><a href="index.html#services"><i class="fa fa-cogs"></i>Teams</a></li>
              <li><a href="index.html#portfolio"><i class="fa fa-briefcase"></i>Projects</a></li>
              <li><a href="index.html#blog"><i class="fa fa-pencil"></i>Meetings</a></li>
              <li><a href="index.html#form"><i class="fa fa-pencil"></i>Resources</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="contentarea">
      <iframe width="100%" height="880" allign="right" src="https://docs.google.com/forms/d/1ZzrYwmixT1NWias0liG2E3wzR6UvXjQYNGytn0fE3dQ/viewform?embedded=true">Loading...</iframe>
    </div>
   <footer>
    <div class="container">
      <div class="row">
        <div class="col col-md-6 col-sm-6 col-xs-6 col-xxs">
          <div style="margin-bottom:25px"><img src="images/footer-logo.png" alt="Gael Force Robotics" style="width:25%;"/></div>
          <div id="templatemo_copyright">
            Copyright &copy; 2015 <a href="#">Gael Force Robotics</a>
            <br/>
            Location: <a>Dublin, California</a>
            <br/>
            Room: P5
          </div>
        </div>
        <div class="col col-md-6 col-sm-6 col-xs-6 col-xxs">
          <div class="pull-right">
            <div class="social_buttons">
              <a href="https://www.facebook.com/GFR5327" rel="nofollow" class="icon-button facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/gaelforcerobots" rel="nofollow" class="icon-button twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.youtube.com/c/DublinHighRobotics" rel="nofollow" class="icon-button youtube"><i class="fa fa-youtube"></i></a>
            </div>
            <a href="#" id="go-top"><div class="back_to_top elevator-button">Back To Top</div></a>
          </div>
        </div>
      </div>
    </div>
  </footer>