	<!DOCTYPE html>
	 <!--

	 .,__,.........,__,.....╭¬¬¬¬¬━━╮
	 `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::|^------^
	 `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::||｡◕‿‿◕｡|
	 -........--""-.......--"╰O━━━━O╯╰--O-O--╯

	 Website created by Devin Mui, Ian SooHoo, and Billy Zhong.

-->
  <html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <title>Contract - Gael Force Robotics</title>
    <meta name = "theme-color" content="#222222">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- seo stuff -->
    <meta name="description" content="The official website for Dublin High's Gael Force Robotics Club. VEX Teams, Club Meetings, Battle of The Bay, Club contact info, and the Scouting Database can be found here" />
    <meta name="author" content="Devin Mui and Ian SooHoo">

    <!-- styles and js -->
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/slider/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link href="static/css/style.css" rel="stylesheet" />

    <!-- favicon -->
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon"/>

    <script src="static/slider/modernizr.js"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        {% include 'header.html' %}
    </div>
  </nav>
  <div class="contentarea" style="margin-top: 8%;">


  <main>
      <center><a href="https://docs.google.com/document/edit?authuser=0&amp;hgd=1&amp;id=1b7sNxBQEfrZc3MtRCrTD_DdR2J7FAJD362t4OlcZB0g" style="margin-bottom: 2%;" class="btn btn-primary">Print</a></center>
      <iframe src="https://docs.google.com/document/preview?authuser=0&amp;hgd=1&amp;id=1b7sNxBQEfrZc3MtRCrTD_DdR2J7FAJD362t4OlcZB0g" width="100%" height="800" allign="right" title="2016-2017 Gael Force Robotics Club Contract" frameborder="0"></iframe>

  </div>
  </main>
  <footer>
  {% include 'footer.html' %}
</footer>
</body>
</html>
