	<!DOCTYPE html>
	 <!--

	 .,__,.........,__,.....╭¬¬¬¬¬━━╮
	 `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::|^------^
	 `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::||｡◕‿‿◕｡|
	 -........--""-.......--"╰O━━━━O╯╰--O-O--╯

	 Website created by Devin Mui, Ian SooHoo, and Billy Zhong.

-->

  <html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <title>Gael Force Robotics</title>
    <meta name = "theme-color" content="#222222">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- seo stuff -->
    <meta name="description" content="The official website for Dublin High's Gael Force Robotics Club. VEX Teams, Project Teams, Club Meetings, Battle of The Bay, Club contact info, and the Scouting Database can be found here" />
    <meta name="author" content="Devin Mui and Ian SooHoo">

    <!-- styles and js -->
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/slider/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link href="static/css/style.css" rel="stylesheet" />

    <!-- favicon -->
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon"/>

    <script src="static/slider/modernizr.js"></script>

</head>
<body>
<nav>
{% include 'header.html' %}
</nav>
<a href="https://docs.google.com/document/d/1b7sNxBQEfrZc3MtRCrTD_DdR2J7FAJD362t4OlcZB0g/">Click Here</a> to open document in new tab.
  <div class="contentarea">
      <iframe width="100%" height="500" allign="right" src="https://docs.google.com/document/d/1b7sNxBQEfrZc3MtRCrTD_DdR2J7FAJD362t4OlcZB0g/preview">Loading...</iframe>
  </div>
  <footer>
  {% include 'footer.html' %}
</footer>
</body>
</html>
