<!DOCTYPE html>
   <!--

   .,__,.........,__,.....╭¬¬¬¬¬━━╮
   `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::|^------^
   `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::||｡◕‿‿◕｡|
   -........--""-.......--"╰O━━━━O╯╰--O-O--╯

   Website created by Devin Mui, Ian SooHoo, and Billy Zhong.

-->

<html class="no-js" lang="en"><!--<![endif]-->
<head>
	<title>Gael Force Robotics</title>
	<meta name = "theme-color" content="#222222">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- seo stuff -->
	<meta name="description" content="The official website for Dublin High's Gael Force Robotics Club. Info for VEX Teams, Club Meetings, Battle of The Bay, and Club contact info can be found here" />
	<meta name="author" content="Devin Mui and Ian SooHoo">

	<!-- styles and js -->
	<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
	<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/slider/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<link href="static/css/style.css" rel="stylesheet" />

	<!-- favicon -->
	<link rel="icon" href="static/images/favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon"/>

	<script src="static/slider/modernizr.js"></script>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="row">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="col-md-2 col-sm-1 col-xs-12">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar top-bar"></span>
							<span class="icon-bar middle-bar"></span>
							<span class="icon-bar bottom-bar"></span>
						</button>
						<a href="#home" class="navbar-brand"><!-- prob change to home link-->
							<img src="static/images/logo.svg" alt="karma"/>
						</a>
					</div>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="navbar-collapse collapse menu">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home"><i class="fa fa-home"></i>Home</a></li>
							<li><a href="#about"><i class="fa fa-user"></i>About Us</a></li>
							<li><a href="#services"><i class="fa fa-cogs"></i>Teams</a></li>
							<li><a href="#portfolio"><i class="fa fa-picture-o"></i>VEX Gallery</a></li>
							<li><a href="#blog"><i class="fa fa-calendar"></i>Calendar</a></li>
							<li><a href="#form"><i class="fa fa-pencil"></i>Docs &amp; Forms</a></li>
							<!-- <li><a href="#contact"><i class="fa fa-location-arrow"></i>Contact</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="container" id="home" style="overflow-x:hidden">
		<div class="row">
			<div class="col col-md-12">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="static/images/slide2.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 1" />
							<p class="flex-caption">Tuesdays @ Lunch after FMP in J204</p>
						</li>
						<li>
							<img src="static/images/slide3.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 2" />
							<p class="flex-caption">VEX Team 5327</p>
						</li>
						<li>
							<img src="static/images/slide4.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 3" />
							<p class="flex-caption">Software and Website Development</p>
						</li>
						<li>
							<img src="static/images/slide5.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 4" />
							<p class="flex-caption">Demo Robot</p>
						</li>
						<li>
							<img src="static/images/slide6.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 5" />
							<p class="flex-caption">VEX Components</p>
						</li>
						<li>
							<img src="static/images/slide7.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 7" />
							<p class="flex-caption">GFR Tournament Battle of the Bay</p>
						</li>
						<li>
							<img src="static/images/slide8.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 0" />
							<p class="flex-caption">Robotics Room P5</p>
						</li>
						<li>
							<img src="static/images/slide1.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 0" />
							<p class="flex-caption">Welcome to the Gael Force Robotics Club!</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<section id="linkz">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<p class="text-center"><a href="http://donate.dhsrobotics.com/" target="_blank" class="btn btn-primary">Donate</a></p>
				</div>
				<div class="col-md-4">
					<p class="text-center"><a href="http://dhsrobotics.com/checkin" class="btn btn-primary">Check-In</a></p>
				</div>
				<div class="col-md-4">
					<p class="text-center"><a href="http://event.dhsrobotics.com/" target="_blank" class="btn btn-primary">Tournament</a></p>
				</div>
			</div>
		</div>
	</section>
	<section id="about">
		<div class="outer_container">
			<div class="container">
				<div class="row">
					<div class="col col-md-5 col-sm-12"><h1>About us</h1></div>
					<div class="col col-md-7 col-sm-12 center-row" id="about_content">
						<div class="row center">
							<div class="col col-md-4 col-sm-12 templatemo_ceo">
								<img src="static/images/GFR.png" alt="Linda" class="center-block img-circle img-responsive">
								<p></p>
							</div>
							<div class="col col-md-8 col-sm-12">
								<p>We are an experienced and completely student-run high school club whose members work on both real life engineering projects and participate in the VEX Robotics Competition. </p> <p>Around 6 years old now, our club takes pride in its members’ teamwork and problem solving skills. We also heavily emphasize the engineering design process and ensure that all members have knowledge of such engineering aspects through our yearly seminars.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="team">
		<div class="outer_container">
			<div class="container">
				<div class="row">
					<div class="col col-md-5 col-md-push-7 col-sm-12"><h1>Officers</h1></div>
					<div class="col col-md-7 col-md-pull-5 col-sm-12 center-row" id="team_content">
						<div class="row center">
							<div class="col col-md-3 col-sm-4 col-xs-4">
								<img src="static/images/tim.jpg" alt="Tim Degerness" class="img-circle img-responsive" id="president">
								<p>Tim Degerness</p>
								<p id="tim_cook">President</p>
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-4">
								<img src="static/images/derick.jpg" alt="Derick Louie" class="img-circle img-responsive" id="derick">
								<p>Derick Louie</p>
								<p>Vice President</p>
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-4">
								<img id="tim" src="static/images/jeffrey.jpg" alt="Jeffrey Fisher" class="img-circle img-responsive">
								<p>Jeffrey Fisher</p>
								<p>Secretary</p>
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-4">
								<img src="static/images/jamie.jpg" alt="Jamie Jin" class="img-circle img-responsive" id="jamie">
								<p>Jamie Jin</p>
								<p>Event Director</p>
							</div>






							<div class="col col-md-3 col-sm-4 col-xs-4">
								<img src="static/images/jaiveer.jpg" alt="Javieer Singh" class="img-circle img-responsive" id="ian">
								<p>Jaiveer Singh</p>
								<p>Captain</p>
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-4">
								<img src="static/images/sarang.jpg" alt="Sarang Vadali" class="img-circle img-responsive" id="color2">
								<p>Sarang Vadali</p>
								<p>Captain</p>
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-4">
								<img src="static/images/wesley.jpg" alt=">Wesley Wong" class="img-circle img-responsive" id="color3">
								<p>Wesley Wong</p>
								<p>Captain</p>
							</div>
							<div class="col col-md-3 col-sm-4 col-xs-4">
								<img src="static/images/advisors.jpg" alt="Advisor" class="img-circle img-responsive" id="color4">
								<p>Mr. Brown &amp; Mr. Taylor </p>
								<p>Advisors</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="services">
		<div class="outer_container">
			<div class="container">
				<div class="row">
					<div class="col col-md-5 col-sm-12 col-xs-12">
						<h1>Teams</h1>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<div class="services_buttons">
							<ul id="services_tabs">
								<li class="icon-button active" data-target="#a">DEV</li>
								<li class="icon-button" data-target="#b">B</li>
								<li class="icon-button" data-target="#c">C</li>
								<li class="icon-button" data-target="#d">D</li>
								<li class="icon-button" data-target="#w">W</li>
							</ul>
						</div>
					</div>
					<div class="col col-md-5 col-sm-10 col-xs-10 center-row" id="services_content">
						<div class="arrow-box center-row">
							<div class="tab-content center">
								<div class="tab-pane fade in active" id="a">
									<h3>5327A Dev Team</h3>
									<p>Team 5327A is one of the four VEX teams that represents Dublin High School in the VEX community. It is based in Dublin, CA and is participating in the VEX Robotics Nothing But Net Challenge for the 2015-2016 season. Team 5327A consists of five members that vary in grade level and are focused on developing an effective robot by applying proper engineering concepts.</p>
									<p>Our team looks into every aspect of the engineering field. We cooperate and work together for every step of the design process. We are looking to make all of our members efficient in specific jobs as well as having a sufficient knowledge in other roles. Although we are focused on developing a dynamic robot, our main aim is to evolve all of our members in personal skills and in engineering skills.</p>
								</div>
								<div class="tab-pane fade" id="b">
									<h3>5327B</h3>
									<p>Hello, we are VEX Team 5327B from Dublin High School in Dublin, CA that is participating in the VEX Robotics Nothing But Net 2015-2016 Challenge. We are a team dedicated to design, innovation, learning, and most of all, fun. </p>
									<p>We use the design process to solve problems when we build our robots. Our two main goals are to learn and to have fun. Additionally, our team members have dedicated themselves to do the best they can and learn as much as possible this year. If you continue reading this notebook, you will discover our use of the design process and our desire to learn and improve.</p>
								</div>
								<div class="tab-pane fade" id="c">
									<h3>5327C Senior Team</h3>
									<p>Team 5327C, one of the five teams from Dublin High School, consists of 9 members with varying levels of experience and expertise in robotics and engineering. Our team encourages learning through application in robotics.</p>
									<p>We apply many of the engineering concepts taught in classes and hope to use robotics as a learning tool to gain experience in engineering and design. Each of our members have different areas of proficiency, allowing us to work well as a team and achieve success.</p>
								</div>
								<div class="tab-pane fade" id="d">
									<h3>5327D</h3>
									<p>This team consists of five team members who vary from a freshman to juniors. Our goal this year is to ultimately gain knowledge about essential engineering principles, but also to attain success in this competition.</p>
									<p>We all have different talents and specified jobs, but at the same time attempt to gain more knowledge in fields that we feel weak in. Winning would be great in order to display our development, but personal development of skills is a significant goal as well.</p>
								</div>
								<div class="tab-pane fade" id="w">
									<h3>5327W</h3>
									<p>Team 5327W is one of the five teams at Dublin High School Robotics, in Dublin California. We are participating in the 2016-2017 Starstruck VEX challenge. We are dedicated to member involvement, innovation, and learning.</p>
									<p>We utilize the engineering notebook to record our meetings and keep a log of all the things that we do in it. We follow the design process to decide on what to build and create the best design. Our team is consisted of builders, programmers, and scouts, all of which help us to reach our goals and do well in tournaments.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="portfolio">
		<div class="outer_container">
			<div class="container">
				<div class="row">
					<div class="col col-md-5 col-sm-12"><h1>VEX Gallery</h1></div>
					<div class="col col-md-7 col-sm-12" id="portfolio_content">
						<div class="row">
							<div class="col col-md-4 col-sm-4 col-xs-6">
								<div class="portfolio-item">
									<div class="portfolio-thumb">
										<img src="static/images/vex.png" alt="portfolio image 1" class="img-responsive">
										<div class="overlay-p">
											<a href="https://www.youtube.com/embed/0t2zstQ84Tw">
												<h2>2016-2017 VEX Competition</h2>
												<p>The VEX Robotics Competition for the 2016-2017 school year is Starstruck. Click to open the intro video.</p>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col col-md-4 col-sm-4 col-xs-6">
								<div class="portfolio-item">
									<div class="portfolio-thumb">
										<img src="static/images/botb.png" alt="portfolio image 2" class="img-responsive">
										<div class="overlay-p">
											<a href="https://drive.google.com/open?id=0B7qJxUDUnsQbbU1FR3hjenlPSTA">
												<h2>Battle of the Bay 2015-2016</h2>
												<p>GFR hosted the first annual VEX Robotics Tournament at Dublin High in January 2016.</p>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col col-md-4 col-sm-4 col-xs-6">
								<div class="portfolio-item">
									<div class="portfolio-thumb">
										<img src="static/images/worlds2015.jpg" alt="portfolio image 3" class="img-responsive">
										<div class="overlay-p">
											<a href="https://goo.gl/photos/UjB2u11wt8HTshqH9">
												<h2>Worlds 2015</h2>
												<p>Photos from Worlds 2015. </p>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col col-md-4 col-sm-4 col-xs-6">
								<div class="portfolio-item">
									<div class="portfolio-thumb">
										<img src="static/images/states2016.jpg" alt="portfolio image 4" class="img-responsive">
										<div class="overlay-p">
											<a href="https://drive.google.com/open?id=0B4OnQ6vgP8asQ3c2SmJsUnd3b2M">
												<h2>States 2016</h2>
												<p>Pictures from States 2016.</p>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col col-md-4 col-sm-4 col-xs-6">
								<div class="portfolio-item">
									<div class="portfolio-thumb">
										<img src="static/images/castate.jpg" alt="portfolio image 5" class="img-responsive">
										<div class="overlay-p">
											<a href="https://goo.gl/photos/ch4BwXt6MK3HWQxd7">
												<h2>CA State 2015</h2>
												<p>March 7, 2015</p>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col col-md-4 col-sm-4 col-xs-6">
								<div class="portfolio-item">
									<div class="portfolio-thumb">
										<img src="static/images/tracy.jpg" alt="portfolio image 6" class="img-responsive">
										<div class="overlay-p">
											<a href="https://goo.gl/photos/ch4BwXt6MK3HWQxd7">
												<h2>Tracy Tournament 2015</h2>
												<p>January 21, 2015.</p>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="blog">
		<div class="outer_container">
			<div class="container">
				<div class="row">
					<h1>Calendar</h1>
					<p>If you can't see the calendar below, <a href="https://calendar.google.com/calendar/embed?deb=-&amp;embed_style=WyJhdDplbWI6c3QiLCIjZTBlMGUwIiwiI2VkZWRlZCIsIiM0MTg0ZjMiLCJyb2JvdG8iLCIjNjM2MzYzIiw1MDAsIiNmZmYiXQo&amp;src=0t72do02u19ab4qp80garuhgj4%40group.calendar.google.com&amp;color=%2342104A&amp;src=h8rfru07t6h395591sdlujb3v4@group.calendar.google.com&amp;src=4pi3vfs1c3pf1v49qsg1vcqs9c@group.calendar.google.com&amp;src=9p5tkbsl2687gd265uo7s70jdo@group.calendar.google.com&amp;src=team5327d@gmail.com&amp;src=dhsrobotics.com_89guf1je789vj56408a2hip9js@group.calendar.google.com&amp;src=dhsrobotics.com_2s28vht3t4sgl7scitgfg91p8s@group.calendar.google.com">click here.</a></p>
            <!-- WARNING: Do not change the calendar iframe, it will break the style. Instead rename current calendars or if you need to add a calendar
            Find the calendar address (under settings) then and an &amp;src=calendaraddress to the end of the last calendar. -->
            <div class="responsive-iframe-container big-container">
            	<iframe src="https://calendar.google.com/calendar/embed?deb=-&amp;embed_style=WyJhdDplbWI6c3QiLCIjZTBlMGUwIiwiI2VkZWRlZCIsIiM0MTg0ZjMiLCJyb2JvdG8iLCIjNjM2MzYzIiw1MDAsIiNmZmYiXQo&amp;src=0t72do02u19ab4qp80garuhgj4%40group.calendar.google.com&amp;color=%2342104A&amp;src=h8rfru07t6h395591sdlujb3v4@group.calendar.google.com&amp;src=4pi3vfs1c3pf1v49qsg1vcqs9c@group.calendar.google.com&amp;src=9p5tkbsl2687gd265uo7s70jdo@group.calendar.google.com&amp;src=team5327d@gmail.com&amp;src=dhsrobotics.com_89guf1je789vj56408a2hip9js@group.calendar.google.com&amp;src=dhsrobotics.com_2s28vht3t4sgl7scitgfg91p8s@group.calendar.google.com"
            	style=" border-width:0" width="1140" height="600" frameborder="0" scrolling="yes"></iframe>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<section id="form">
	<div class="outer_container">
		<div class="container">
			<div class="row">
				<div class="col col-md-5 col-md-push-7 col-sm-12"><h1>Resources</h1></div>
				<div class="col col-md-7 col-md-pull-5 col-sm-12 center-row" id="team_content">
					<div class="row center">
						<div class="col col-md-7 col-sm-14 center-row" id="form_content">
							<div class="row center">
								<div class="col col-md-8 col-sm-1">
									<a name="contract"></a><h2><font size="40">Documents</font></h2>
									<p><a href="https://docs.google.com/document/d/1b7sNxBQEfrZc3MtRCrTD_DdR2J7FAJD362t4OlcZB0g/edit">2016-2017 Club Contract</a></p>
									<p><a href="https://docs.google.com/presentation/d/1Q_TOa08_WVCszJ7a2HfWa9e9W_gjQGG3KkXRUwzJftU/edit?usp=sharing">Meeting Slides</a></p>
									<h2><font size="40">Forms</font></h2>
									<p><a href="https://docs.google.com/forms/d/1u1f2uCwtDZxm7IoDSlEf8GsloQ4DUOdHUORNtXaTWWM/viewform">Student Information Form: <b> Please Complete!</b></a></p>

									<p style="font-size:30px"><a href="https://calendly.com/robotics/">Parent Volunteer sign up sheet</a></p>
									<p><a href="static/documents/VolunteerClearance.pdf">Volunteer Clearance Form</a></p>
									<h3>VEX Competition Forms</h3>
									<p><a href="static/documents/CompetitionForm.pdf">Competition &amp; Release Form</a></p>
									<!-- <p><a href="static/documents/VRCRelease.pdf">VEX Release Form</a></p> -->
									<p><a href="static/documents/DriverForm.pdf">Driver Form</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="contact">
	<div class="outer_container">
		<div class="container">
			<div class="row">
				<div class="col col-md-5 col-sm-12"><h1>Contact</h1></div>
				<div>
					<div>
						<div>
							<section id="email">
								<div class="container">
									<div class="col col-md-7 col-sm-12 col-xs-12 center-row">
										<a name="contract"></a><h2>Club Contact Email</h2>
										<p><a href="mailto:gaelforce@dhsrobotics.com?Subject=Robotics Club">gaelforce@dhsrobotics.com</a></p>
										<a name="contract"></a><h2>Advisor: Mr. Adam Brown &amp; Mr. Jeff Taylor</h2>
										<p><a href="mailto:adam.brown.math@gmail.com?Subject=Robotics Club">Email Mr. Brown</a></p>
										<p><a href="mailto:taylorjeff@dublinusd.org?Subject=Robotics Club">Email Mr. Taylor</a></p>
										<p>Mr. Brown can be found in J204, and Mr. Taylor in J107. </p>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	{% include 'footer.html' %}
</footer>
<audio id="rick" loop>
	<source src="static/sound/never-gonna-give-you-up.mp3" type="audio/mpeg" />
</audio>

<!-- JavaScripts -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.bootstrap-autohidingnavbar.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/jquery.singlePageNav.js"></script>
<script src="static/js/templatemo_custom.js"></script>
<script defer src="static/slider/jquery.flexslider.js"></script>
<script src="static/js/smooth.scrolling.js"></script>
<script src="static/js/jquery.flip.min.js"></script>
<script src="static/js/smooth.min.js"></script>
<script type="text/javascript">
	$(window).load(function(){
		$('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
				$('body').removeClass('loading');
				$('.menu').singlePageNav();
			}
		});
	});
	$("nav.navbar-fixed-top").autoHidingNavbar();
	$('.blog_post').flip({
		trigger: 'hover',
		reverse: true
	});
	$('#go-top').click(function(event) {
		event.preventDefault();
		jQuery('html, body').animate({scrollTop: 0}, 1000);
		return false;
	});
	$('#president').click(function(){
		if(!$(this).hasClass('on')){
			$(this).attr('src', 'static/images/rick.gif');
			document.getElementById('rick').play();
			$(this).addClass('on');
		} else {
			$(this).attr('src', 'static/images/tim.jpg');
			document.getElementById('rick').pause();
			$(this).removeClass('on');
		}
	});
	$('#derick').click(function(){
		if(!$(this).hasClass('on')){
			$('#tim_cook').text('Vice Prez');
			$(this).addClass('on');
		} else {
			$('#tim_cook').text('Vice President');
			$(this).removeClass('on');
		}
	});
	$('#justin').click(function(){
		if(!$(this).hasClass('on')){
			$(this).attr('src','static/images/rice.jpg');
			$(this).addClass('on');
		} else {
			$(this).attr('src', 'static/images/justin.jpg');
			$(this).removeClass('on');
		}
	});
	$('#kana').click(function(){
		if(!$(this).hasClass('on')){
			$(this).attr('src','static/images/kana2.jpg');
			$(this).addClass('on');
		} else {
			$(this).attr('src', 'static/images/kana.jpg');
			$(this).removeClass('on');
		}
	});
	window.onload = function() {
		var elevator = new Elevator({
			element: document.querySelector('.elevator-button'),
			mainAudio: 'static/sound/elevator.mp3',
			endAudio: 'static/sound/ding.mp3',
			duration: 15000
		});
	}
	var items = ['saturate(2)', 'invert(0.2)', 'brightness(2)', 'blur(5px)'];
	$('#ian').click(function(){
		var item = items[Math.floor(Math.random()*items.length)];
		$(this).css('filter',item).css('-webkit-filter', item);
	});
	var items2 = ['grayscale(2)', 'hue-rotate(180deg)', 'sepia(1)', 'grayscale(1)'];
	$('#color2').click(function(){
		var item2 = items2[Math.floor(Math.random()*items2.length)];
		$(this).css('filter',item2).css('-webkit-filter', item2);
	});
	var items3 = ['saturate(2)', 'invert(0.2)', 'brightness(2)', 'blur(5px)'];
	$('#color3').click(function(){
		var item3 = items3[Math.floor(Math.random()*items3.length)];
		$(this).css('filter',item3).css('-webkit-filter', item3);
	});
	var items4 = ['grayscale(2)', 'hue-rotate(180deg)', 'sepia(1)', 'grayscale(1)'];
	$('#color4').click(function(){
		var item4 = items4[Math.floor(Math.random()*items4.length)];
		$(this).css('filter',item4).css('-webkit-filter', item4);
	});
</script>
</body>
</html>
