<!DOCTYPE html>
	 <!--

	 .,__,.........,__,.....╭¬¬¬¬¬━━╮
	 `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::|^------^
	 `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::||｡◕‿‿◕｡|
	 -........--""-.......--"╰O━━━━O╯╰--O-O--╯

	 Website created by Devin Mui, Ian SooHoo, and Billy Zhong.

-->

  <html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <title>Gael Force Robotics</title>
    <meta name = "theme-color" content="#222222"
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- seo stuff -->
    <meta name="description" content="The official website for Dublin High's Gael Force Robotics Club. VEX Teams, Project Teams, Club Meetings, Battle of The Bay, Club contact info, and the Scouting Database can be found here" />
    <meta name="author" content="Devin Mui and Ian SooHoo">

    <!-- styles and js -->
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/slider/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link href="static/css/style.css" rel="stylesheet" />

    <!-- favicon -->
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon"/>

    <script src="static/slider/modernizr.js"></script>

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
            <a href="#home" class="navbar-brand"><!-- prob change to home link-->
              <img src="static/images/logo.svg" alt="karma"/>
            </a>
          </div>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="navbar-collapse collapse menu">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#home"><i class="fa fa-home"></i>Home</a></li>
              <li><a href="#about"><i class="fa fa-user"></i>About Us</a></li>
              <li><a href="#services"><i class="fa fa-cogs"></i>Teams</a></li>
              <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Projects</a></li>
              <li><a href="#blog"><i class="fa fa-calendar"></i>Meetings</a></li>
              <li><a href="#form"><i class="fa fa-pencil"></i>Resources</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container" id="home" style="overflow-x:hidden">
    <div class="row">
      <div class="col col-md-12">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <img src="static/images/slide2.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 1" />
              <p class="flex-caption">VEX Team 5327 B</p>
            </li>
            <li>
              <img src="static/images/slide3.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 2" />
              <p class="flex-caption">VEX Team 5327</p>
            </li>
            <li>
              <img src="static/images/slide4.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 3" />
              <p class="flex-caption">Software and Website Development</p>
            </li>
            <li>
              <img src="static/images/slide5.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 4" />
              <p class="flex-caption">Demo Robot</p>
            </li>
            <li>
              <img src="static/images/slide6.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 5" />
              <p class="flex-caption">Projects: Pancake Robot</p>
            </li>
            <li>
              <img src="static/images/slide7.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 7" />
              <p class="flex-caption">GFR Tournament Battle of the Bay</p>
            </li>
              <li>
              <img src="static/images/slide8.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 0" />
              <p class="flex-caption">Robotics Room P5</p>
            </li>
            <li>
              <img src="static/images/slide1.jpg" class="slide-img" style="margin: 0 auto;" alt="slide 0" />
              <p class="flex-caption">Welcome to the Gael Force Robotics Club!</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section id="about">
    <div class="outer_container">
      <div class="container">
        <div class="row">
          <div class="col col-md-5 col-sm-12"><h1>About us</h1></div>
          <div class="col col-md-7 col-sm-12 center-row" id="about_content">
            <div class="row center">
              <div class="col col-md-4 col-sm-12 templatemo_ceo">
                <img src="static/images/GFR.png" alt="Linda" class="center-block img-circle img-responsive">
                <p></p>
              </div>
              <div class="col col-md-8 col-sm-12">
              	<p>We are an experienced and completely student-run high school club whose members work on both real life engineering projects and participate in the VEX Robotics Competition. </p> <p>Around 6 years old now, our club takes pride in its members’ teamwork and problem solving skills. We also heavily emphasize the engineering design process and ensure that all members have knowledge of such engineering aspects through our yearly seminars.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="team">
    <div class="outer_container">
      <div class="container">
        <div class="row">
          <div class="col col-md-5 col-md-push-7 col-sm-12"><h1>Officers</h1></div>
          <div class="col col-md-7 col-md-pull-5 col-sm-12 center-row" id="team_content">
            <div class="row center">
              <div class="col col-md-3 col-sm-4 col-xs-4">
                <img src="static/images/tim.jpg" alt="Tim Degerness" class="img-circle img-responsive" id="tim">
                <p>Tim Degerness</p>
                <p id="tim_cook">President</p>
              </div>
              <div class="col col-md-3 col-sm-4 col-xs-4">
                <img src="static/images/billy.jpg" alt="Derick Louie" class="img-circle img-responsive" id="derick">
                <p>Derick Louie</p>
                <p>Vice President</p>
              </div>
              <div class="col col-md-3 col-sm-4 col-xs-4">
                <img id="tim" src="static/images/jeffrey.jpg" alt="Jeffrey Fisher" class="img-circle img-responsive">
                <p>Jeffrey Fisher</p>
                <p>Secretary</p>
              </div>
              <div class="col col-md-3 col-sm-4 col-xs-4">
                <img src="static/images/jamie.jpg" alt="Jamie Jin" class="img-circle img-responsive" id="jamie">
                <p>Jamie Jin</p>
                <p>Event Director</p>
              </div>
								
								
								
								
								
		
            <div class="col col-md-3 col-sm-4 col-xs-4">
                <img src="static/images/tim.jpg" alt="Javieer Singh" class="img-circle img-responsive" id="ian">
                <p>Jaiveer Singh</p>
                <p>Captain</p>
              </div>
              <div class="col col-md-3 col-sm-4 col-xs-4">
                <img src="static/images/tim.jpg" alt="Sarang Vadali" class="img-circle img-responsive" id="ian">
                <p>Sarang Vadali</p>
                <p>Captain</p>
              </div>
                <div class="col col-md-3 col-sm-4 col-xs-4">
                <img src="static/images/tim.jpg" alt=">Wesley Wong" class="img-circle img-responsive" id="ian">
                <p>Wesley Wong</p>
                <p>Captain</p>
              </div>
                <div class="col col-md-3 col-sm-4 col-xs-4">
                <img src="static/images/tim.jpg" alt="Advisor" class="img-circle img-responsive" id="ian">
                <p>Placeholder</p>
                <p>Advisor</p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="outer_container">
      <div class="container">
        <div class="row">
          <div class="col col-md-5 col-sm-12 col-xs-12">
            <h1>Teams</h1>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <div class="services_buttons">
              <ul id="services_tabs">
                <li class="icon-button active" data-target="#pencil">A</li>
                <li class="icon-button" data-target="#cog">B</li>
                <li class="icon-button" data-target="#signal">C</li>
                <li class="icon-button" data-target="#new">D</li>
              </ul>
            </div>
          </div>
          <div class="col col-md-5 col-sm-10 col-xs-10 center-row" id="services_content">
            <div class="arrow-left"></div>
            <div class="arrow-box center-row">
              <div class="tab-content center">
                <div class="tab-pane fade in active" id="pencil">
                  	<h3>5327A</h3>
                  	<p>
Team 5327A is one of the four VEX teams that represents Dublin High School in the VEX community. It is based in Dublin, CA and is participating in the VEX Robotics Nothing But Net Challenge for the 2015-2016 season. Team 5327A consists of five members that vary in grade level and are focused on developing an effective robot by applying proper engineering concepts.</p>
                    <p>
Our team looks into every aspect of the engineering field. We cooperate and work together for every step of the design process. We are looking to make all of our members efficient in specific jobs as well as having a sufficient knowledge in other roles. Although we are focused on developing a dynamic robot, our main aim is to evolve all of our members in personal skills and in engineering skills.</p>
                </div>
                <div class="tab-pane fade" id="cog">
                	<h3>5327B</h3>
                  	<p>Hello, we are VEX Team 5327B from Dublin High School in Dublin, CA that is participating in the VEX Robotics Nothing But Net 2015-2016 Challenge. We are a team dedicated to design, innovation, learning, and most of all, fun. </p>
                    <p>We use the design process to solve problems when we build our robots. Our two main goals are to learn and to have fun. Additionally, our team members have dedicated themselves to do the best they can and learn as much as possible this year. If you continue reading this notebook, you will discover our use of the design process and our desire to learn and improve.</p>
                </div>
                <div class="tab-pane fade" id="signal">
                	<h3>5327C</h3>
                  	<p>Team 5327C, one of the four teams from Dublin High School, consists of 5 members with varying levels of experience and expertise in robotics and engineering. Our team encourages learning through application in robotics.</p>
                  	<p>We apply many of the engineering concepts taught in classes and hope to use robotics as a learning tool to gain experience in engineering and design. Each of our members have different areas of proficiency, allowing us to work well as a team and achieve success.</p>
                </div>
                <div class="tab-pane fade" id="new">
                  <h3>5327D</h3>
                    <p>This team consists of five team members who vary from a freshman to juniors. Our goal this year is to ultimately gain knowledge about essential engineering principles, but also to attain success in this competition.</p>
                    <p>We all have different talents and specified jobs, but at the same time attempt to gain more knowledge in fields that we feel weak in. Winning would be great in order to display our development, but personal development of skills is a significant goal as well.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="portfolio">
    <div class="outer_container">
      <div class="container">
        <div class="row">
          <div class="col col-md-5 col-sm-12"><h1>Projects</h1></div>
          <div class="col col-md-7 col-sm-12" id="portfolio_content">
            <div class="row">
              <div class="col col-md-4 col-sm-4 col-xs-6">
                <div class="portfolio-item">
                  <div class="portfolio-thumb">
                    <img src="static/images/ProjHI.jpg" alt="portfolio image 1" class="img-responsive">
                    <div class="overlay-p">
                      <a href="#">
                        <h2>Project H/I</h2>
                        <p>This project is led by Navneedh M. The task is to build robots to assist in the Special Olyimpics this year.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-md-4 col-sm-4 col-xs-6">
                <div class="portfolio-item">
                  <div class="portfolio-thumb">
                    <img src="static/images/Pancake.jpg" alt="portfolio image 2" class="img-responsive">
                    <div class="overlay-p">
                      <a href="#">
                        <h2>Pancake Printer</h2>
                        <p>This project is led by Tim D. The goal is to use a robot to draw batter onto a skillet, creating fun shapes and designs.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-md-4 col-sm-4 col-xs-6">
                <div class="portfolio-item">
                  <div class="portfolio-thumb">
                    <img src="static/images/TShirt.jpg" alt="portfolio image 3" class="img-responsive">
                    <div class="overlay-p">
                      <a href="#">
                        <h2>T-Shirt Cannon</h2>
                        <p>This project is led by Kana M. The goal is to update and clean-up the T-shirt cannon from last Project Period. </p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-md-4 col-sm-4 col-xs-6">
                <div class="portfolio-item">
                  <div class="portfolio-thumb">
                    <img src="static/images/Demo.jpg" alt="portfolio image 4" class="img-responsive">
                    <div class="overlay-p">
                      <a href="#">
                        <h2>Demo Robot</h2>
                        <p>This project is lead by Justin G. The goal is to create a demo robot that can be shown off during Homecoming.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-md-4 col-sm-4 col-xs-6">
                <div class="portfolio-item">
                  <div class="portfolio-thumb">
                    <img src="static/images/code.jpg" alt="portfolio image 5" class="img-responsive">
                    <div class="overlay-p">
                      <a href="#">
                        <h2>Programming Algorithms</h2>
                        <p>This project is for those who want to expand their knowledge in common algorithms. Led by James W.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-md-4 col-sm-4 col-xs-6">
                <div class="portfolio-item">
                  <div class="portfolio-thumb">
                    <img src="static/images/chess.jpg" alt="portfolio image 6" class="img-responsive"> <!-- By Alan Light - Own work by the original uploader, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=20299 -->
                    <div class="overlay-p">
                      <a href="#">
                        <h2>Chess Robot</h2>
                        <p>Love chess? Want to build a robot? This project is for you. Led by Justin G, this project is to create a robot to solve a game of chess.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 310 x 300 -->

  <section id="blog">
    <div class="outer_container">
      <div class="container">
        <div class="row">
          <div class="col col-md-5 col-md-push-7 col-sm-12"><h1><a href="{{ url_for('blog') }}" style="color:white">Meetings</a></h1></div>
          <div class="col col-md-7 col-md-pull-5 col-sm-12">
            <div class="blog_posts_container">

              <div class="blog_post">
                <div class="front">
                  <h2>9<br>February</h2>
                  <img src="static/images/web1.jpg" alt="foobar" style="height: 300px; width: 300px" />
                </div>
                <div class="back">
                  <h2>Exciting Announcement</h2>
                    <p style="margin-top: 20px"> <span style="font-weight:bold"> Big announcement! VEX Teams B and D have qualified for states in the last VEX competition of the year! Congrats.</\span> In addition, project period will be ending soon. Project Teams please email James with your status updates. </p>
                 <!--- Please <span style="font-weight:bold">complete</span> your contracts at dhsrobotics.com. The <span style="font-weight:bold">Club Fair</span> will be occuring on the 16th and 17th of September and we will probably have a table. The <span style="font-weight:bold">Parent Meeting</span> will be held on September 25th after the Club Fair, please ask your parents to join us. Finally, The GFR Club is planning to host a tournament in house, and we are currently in the planning stages. </p> -->
                </div>
              </div>

              <div class="blog_post">
                <div class="front">
                  <h2>07<br>October</h2>
                  <img src="static/images/worlds.png" alt="foobar" class="img-responsive" style="height: 300px; width: 300px" />
                </div>
                <div class="back">
                    <h2>Announcement</h2>
                  <p style="margin-top: 20px">The new website is online! <b>Please turn in your contracts ASAP! If you do not return the contracts, we must ask you to leave due to safety reasons.</b></p>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="map">
    <div class="outer_container">
      <div class="container">
        <div class="row">
          <h1>Calendar</h1></div>
            <!-- need back end script to call calendar api for better style -->
            <div class="responsive-iframe-container big-container">
               <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=h8rfru07t6h395591sdlujb3v4%40group.calendar.google.com&amp;color=%23711616&amp;src=5s89dmbo2frllsj96d2gqakjts%40group.calendar.google.com&amp;color=%2342104A&amp;src=9p5tkbsl2687gd265uo7s70jdo%40group.calendar.google.com&amp;color=%23125A12&amp;src=team5327d%40gmail.com&amp;color=%23853104&amp;src=0t72do02u19ab4qp80garuhgj4%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0" width="1140" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="responsive-iframe-container small-container">
 							<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=h8rfru07t6h395591sdlujb3v4%40group.calendar.google.com&amp;color=%23711616&amp;src=5s89dmbo2frllsj96d2gqakjts%40group.calendar.google.com&amp;color=%2342104A&amp;src=9p5tkbsl2687gd265uo7s70jdo%40group.calendar.google.com&amp;color=%23125A12&amp;src=team5327d%40gmail.com&amp;color=%23853104&amp;src=0t72do02u19ab4qp80garuhgj4%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0" width="450" height="500" frameborder="0" scrolling="no"></iframe>
 						</div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="form">
      <div class="outer_container">
        <div class="container">
          <div class="row">
            <div class="col col-md-7 col-sm-12 center-row" id="form_content">
              <div class="row center">
                <div class="col col-md-8 col-sm-12">
                    <a name="contract"></a><h2><font size="40">Documents</font></h2>
                  <p><a href="https://docs.google.com/document/d/1b7sNxBQEfrZc3MtRCrTD_DdR2J7FAJD362t4OlcZB0g/">Contract</a></p>
                  <p><a href="https://docs.google.com/document/d/1FzRB3AIOHNtTo0SgKSSyx2qomVLVaQtzat72lfTLCR4/edit">Project Leader Instructions</a></p>
                    <h2><font size="40">Forms</font></h2>
                   <p><a href="https://docs.google.com/forms/viewform?hl=en&id=1tQurpQLOjeOgxGKytgVEsDmQ_XWi1kJk2nQe_l0-xb4">Student Information Form: <b> Please Complete!</b></a></p>
                  <p><a href="https://docs.google.com/spreadsheets/d/1QuFBGH2yV5NQ3g1eUg3Yq_Mb_9LaKJ6RVC5ww0g1nSs/">Parent Volunteer sign up sheet</a></p>
                  <p><a href="https://docs.google.com/forms/d/1Jb_Ylm4F-5tBxMvYODs46RbeIP82kC94x-Vry_RJ-lo/viewform?c=0&w=1">Project Suggestion Form</a></p>
                    <h3>VEX Competition Forms</h3>
                    <p><a href="static/documents/CompetitionForm.pdf">Competition Form</a></p>
                    <p><a href="static/documents/VRCRelease.pdf">VEX Release Form</a></p>
                    <p><a href="static/documents/DriverForm.pdf">Driver Form</a></p>
                </div>
              </div>
            </div>

            <div class="col col-md-5 col-sm-12"><h1>Resources</h1></div>

          </div>
        </div>
      </div>
    </section>
  <section id="contact">
    <div class="outer_container">
      <div class="container">
        <div class="row">
          <div class="col col-md-5 col-sm-12"><h1>Contact</h1></div>
            <div>
              <div>
                <div>
                  <section id="email">
                    <div class="container">
                      <div class="col col-md-7 col-sm-12 col-xs-12 center-row">
                        <a name="contract"></a><h2>Club Email</h2>
                          <p><a href="mailto:gaelforce@dhsrobotics.com?Subject=Robotics Club">gaelforce@dhsrobotics.com</a></p>
                            <a name="contract"></a><h2>Advisor: Ms. Eugene Chou</h2>
                          <p><a href="mailto:ms.eugenechou@gmail.com?Subject=Robotics Club">Email Ms. Chou</a></p>
                          <p>Ms. Chou can be found in K201 or the J204 Hallway</p>
                      </div>
                    </div>
                  </section>
                </div>
              </div>

            <!--
          <div class="col col-md-7 col-sm-12 col-xs-12 center-row" id="contact_content">
            <form role="form" action="#" method="post" class="center">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="fullname" type="text" class="form-control" id="input_name" placeholder="Name...">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="input_email" placeholder="Email...">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea name="message" rows="3" class="form-control" id="input_message" placeholder="Message..."></textarea><br>
                    <button type="submit" class="btn btn-primary pull-right">SEND</button>
                  </div>
                </div>
              </div>
            </form>-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col col-md-6 col-sm-6 col-xs-6 col-xxs">
          <div style="margin-bottom:25px"><img src="static/images/GFR.png" alt="Gael Force Robotics" style="width:25%;"/></div>
          <div id="templatemo_copyright">
            Copyright &copy; 2016 <a href="#">Gael Force Robotics</a>
            <br/>
            Location: <a>Dublin, Calfornia</a>
            <br/>
            Room: P5
          </div>
        </div>
        <div class="col col-md-6 col-sm-6 col-xs-6 col-xxs">
          <div class="pull-right">
            <div class="social_buttons">
              <a href="https://www.facebook.com/GFR5327" rel="nofollow" class="icon-button facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/gaelforcerobots" rel="nofollow" class="icon-button twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.youtube.com/c/DublinHighRobotics" rel="nofollow" class="icon-button youtube"><i class="fa fa-youtube"></i></a>
            </div>
            <a href="#" id="go-top"><div class="back_to_top elevator-button">Back To Top</div></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <audio id="rick" loop>
    <source src="static/images/image/never-gonna-give-you-up.mp3" type="audio/mpeg" />
  </audio>

  <!-- JavaScripts -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/jquery.bootstrap-autohidingnavbar.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/js/jquery.singlePageNav.js"></script>
  <script src="static/js/templatemo_custom.js"></script>
  <script defer src="static/slider/jquery.flexslider.js"></script>
  <script src="static/js/smooth.scrolling.js"></script>
  <script src="static/js/jquery.flip.min.js"></script>
  <script src="static/js/smooth.min.js"></script>
  <script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
          $('.menu').singlePageNav();
        }
      });
    });
    $("nav.navbar-fixed-top").autoHidingNavbar();
    $('.blog_post').flip({
      trigger: 'hover',
      reverse: true
    });
    $('#go-top').click(function(event) {
      event.preventDefault();
      jQuery('html, body').animate({scrollTop: 0}, 1000);
      return false;
    });
    $('#navneedh').click(function(){
      if(!$(this).hasClass('on')){
        $(this).attr('src', 'static/images/rick.gif');
        document.getElementById('rick').play();
        $(this).addClass('on');
      } else {
        $(this).attr('src', 'static/images/navneedh.jpg');
        document.getElementById('rick').pause();
        $(this).removeClass('on');
      }
    });
    $('#tim').click(function(){
      if(!$(this).hasClass('on')){
        $('#tim_cook').text('Yo');
        $(this).addClass('on');
      } else {
        $('#tim_cook').text('President');
        $(this).removeClass('on');
      }
    });
    $('#justin').click(function(){
      if(!$(this).hasClass('on')){
        $(this).attr('src','static/images/rice.jpg');
        $(this).addClass('on');
      } else {
        $(this).attr('src', 'static/images/justin.jpg');
        $(this).removeClass('on');
      }
    });
      $('#kana').click(function(){
      if(!$(this).hasClass('on')){
        $(this).attr('src','static/images/kana2.jpg');
        $(this).addClass('on');
      } else {
        $(this).attr('src', 'static/images/kana.jpg');
        $(this).removeClass('on');
      }
    });
    window.onload = function() {
      var elevator = new Elevator({
        element: document.querySelector('.elevator-button'),
        mainAudio: 'static/sound/elevator.mp3',
        endAudio: 'static/sound/ding.mp3',
        duration: 15000
      });
    }
    var items = ['saturate(2)', 'invert(0.2)', 'brightness(2)', 'blur(5px)'];
    $('#ian').click(function(){
      var item = items[Math.floor(Math.random()*items.length)];
      $(this).css('filter',item).css('-webkit-filter', item);
    });
  </script>
</body>
</html>
