	<!DOCTYPE html>
	 <!--

	 .,__,.........,__,.....╭¬¬¬¬¬━━╮
	 `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::|^------^
	 `•.,¸,.•*¯`•.,¸,.•*|:¬¬¬¬¬¬::::||｡◕‿‿◕｡|
	 -........--""-.......--"╰O━━━━O╯╰--O-O--╯

	 Website created by Devin Mui, Ian SooHoo, and Billy Zhong.

-->

	<html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<title>Blog - Gael Force Robotics</title>
		<meta name = "theme-color" content="#222222"
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- seo stuff -->
		<meta name="description" content="The official website for Dublin High's Gael Force Robotics Club. VEX Teams, Project Teams, Club Meetings, contact info, and the Scouting Database can be found here" />
		<meta name="author" content="Devin Mui and Ian SooHoo">

		<!-- styles and js -->
		<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
		<link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="../../static/slider/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
		<link href="../../static/css/style.css" rel="stylesheet" />

		<!-- favicon -->
		<link rel="icon" href="../../static/images/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon"/>

		<script src="../../static/slider/modernizr.js"></script>

</head>
<body style="padding-top:100px">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="row">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar top-bar"></span>
							<span class="icon-bar middle-bar"></span>
							<span class="icon-bar bottom-bar"></span>
						</button>
						<a href="{{ url_for('index') }}" class="navbar-brand"><!-- prob change to home link-->
							<img src="../../static/images/logo.png" alt="karma"/>
						</a>
					</div>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="navbar-collapse collapse menu">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{{ url_for('index')}}#home"><i class="fa fa-home"></i>Home</a></li>
							<li><a href="{{ url_for('index')}}#about"><i class="fa fa-user"></i>About Us</a></li>
							<li><a href="{{ url_for('index')}}#services"><i class="fa fa-cogs"></i>Teams</a></li>
							<li><a href="{{ url_for('index')}}#portfolio"><i class="fa fa-briefcase"></i>Projects</a></li>
							<li><a href="{{ url_for('blog')}}"><i class="fa fa-pencil"></i>Meetings</a></li>
							<li><a href="{{ url_for('index')}}#form"><i class="fa fa-pencil"></i>Resources</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<h1>{{ post.title }}</h1>
		<p>{{ post.body }}</p>
	</div>
	  <!-- JavaScripts -->
  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/jquery.bootstrap-autohidingnavbar.min.js"></script>
  <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../static/js/jquery.singlePageNav.js"></script>
  <script src="../../static/js/templatemo_custom.js"></script>
  <script src="../../static/js/smooth.scrolling.js"></script>
  <script src="../../static/js/jquery.flip.min.js"></script>
  <script>
    $("nav.navbar-fixed-top").autoHidingNavbar();
  </script>
</body>